.pagetexto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  font-family: 'Roboto';
  text-align: center;
  background-color: white;
}
.pagetexto .background-photo {
  --color: var(--lilac);
  position: absolute;
  background-image: url('/img/caminando.jpeg');
  background-size: cover;
  background-position: 50% 50%;
  padding: 24px 0;

  /*
  mask-image: linear-gradient(to bottom, black 40%, transparent 120%);
*/
  /* fade arriba y abajo */
  box-shadow: inset 0 0 100px var(--color),
              inset 0 0 100px var(--color),
              inset 0 0 100px var(--color)
  ;
}
.pagetexto img {
  border-radius: 50%;
  border: 5px solid var(--blue);
}
.pagetexto .page1__footer {
  padding-top: 24px;
  font-family: 'HelloWedding';
  font-size: 2rem;
  color: white;
}
.pagetexto .message {
  color: white;
  display: grid;
  font-family: 'HelloWedding';
  font-size: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 16px;
  width: 80%;
}
