.confirma-asistencia {
  text-align: center;
}
.confirma-asistencia .titulo {
  font-family: "Wedding";
  color: var(--gold);
  font-size: 48px;
}
.botones-asistencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.boton-asistencia {
  display: grid;
  justify-items: center;
}
