.contenedor-fechas-eventos {
  text-align: center;
  display: grid;
  row-gap: 28px;
  justify-items: center;
}

.contenedor-fechas-eventos .seccion-fechas-eventos {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  justify-items: center;
  width: 80%;
  max-width: 480px;
  position: relative;
}
.contenedor-fechas-eventos .seccion-fechas-eventos .btn-mapa {
  justify-self: center;
}
.contenedor-fechas-eventos .titulo::before,
.contenedor-fechas-eventos .titulo::after
{
  content: '';
  margin: 0 10px;
  display: block;
  border-bottom: 1px solid var(--violet);
}
.contenedor-fechas-eventos .titulo {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: var(--violet);
  white-space: nowrap;
}
