.paleta {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 8px;
}
.contenedor-colores {
  --width: 40px;
  --height: 40px;
  display: grid;
  grid-template-columns: repeat(6, calc(var(--width) - 8px));
}
.contenedor-colores .titulo {
  text-align: center;
}
.contenedor-colores .color {
  width: var(--width);
  height: var(--height);
  border: 2px solid white;
  border-radius: 50%;
  display: inline-block;
}
