@font-face {
  font-family: "HelloWedding";
  src: url("/fonts/HelloWedding.otf?format=opentype") format("opentype");
}
@font-face {
  font-family: "WeddingScript";
  src: url("/fonts/WeddingScript.otf?format=opentype") format("opentype");
}
@font-face {
  font-family: "Wedding";
  src: url("/fonts/Wedding.otf?format=opentype") format("opentype");
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto.ttf')  format('truetype');
}
* {
  box-sizing: border-box;
}
:root {
  --violet: #5A4584;
  --dark-violet: #3A2E50;
  --amethyst: #9370DB;
  --lilac: #C8A2C8;
  --blue: #A4C6F5;
  --blue-dark: #5F8BBF;
  --sky: #D6EAF8;
  --gold: #B38B5A;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;

  /*scroll-snap-type: y mandatory;*/
  overflow-y: scroll;
  height: 100vh;

  /*sobras a la derecha e izquierda*/
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.page-full {
  min-height: 100vh;
  scroll-snap-align: start;
}

.btn,
.btn:active,
.btn:visited,
.btn:link,
.btn:hover
{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.btn.btn-primary {
  color: #fff;
  background-color: var(--violet);
  border-color: var(--violet);
}
.btn.btn-primary:hover,
.btn.btn-primary:active
{
  background-color: var(--dark-violet);
  border-color: var(--dark-violet);
}


.btn.btn-lilac {
  color: #fff;
  background-color: var(--lilac);
  border-color: var(--lilac);
}
.btn.btn-lilac:hover,
.btn.btn-lilac:active
{
  opacity: 0.8;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.relative {
  position: relative;
}
.c-gold {
  color: var(--gold);
}
.c-blue-dark {
  color: var(--blue-dark);
}
.c-blue {
  color: var(--blue);
}
.c-sky {
  color: var(--sky);
}
.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.position-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.position-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.position-top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.position-bottom-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.overflow-hidden {
  overflow: hidden;
}
